@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.3vw;
    transition: .5s;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

.line {
    width: 100%;
    margin: 15px 0;
    background: brown;
    text-align: center;
    border-radius: 30%;
}

span {
    font-family: Gropled;
    font-size: 2vw;
    background: white;
    color: brown;
    padding: 4px 10px;
    border: 2px solid brown;
    border-radius: 15%;
}

.map {
    margin: 20px 0;
    width: 95%;
    outline: 2px solid black;
}

.map img {
    width: 100%;
}

@media (max-width: 768px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 2vw;
    }

    .line {
        margin: 5px 0;
    }

    span {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    .home {
        font-size: 4vw;
    }
    
    span {
        font-size: 4vw;
        padding: 1.5px 10px;
    }
    
    .map {
        margin: 10px 0;
    }
}