@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    left: 10px;
    top: 10px;
    padding: 10px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.3vw;
    transition: .5s;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: white;
    letter-spacing: 2px;
    width: 100%;
    font-size: 1vw;
    padding: 20px 0;
}

.picture {
    width: 55%;
    outline: 2px solid black;
    margin: 5px 0;
}

.grid {
    margin: 20px 0;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feedback {
    display: flex;
    border: 2px black solid;
    background: rgb(221, 221, 149);
}

.feedback img {
    width: 30%;
}

.feedback div {
    padding: 0 15px;
    font-family: Klukva;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.down {
    font-size: 1.2vw;
    color: orangered;
}

@media (max-width: 1200px) {
    .home {
        font-size: 2vw;
    }

    .line {
        font-size: 1.8vw;
    }

    .picture {
        width: 70%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .feedback img {
        width: 30%;
    }

    .feedback div {
        padding: 0 10px;
        font-size: 2.2vw;
    }

    .down {
        font-size: 1.8vw;
    }
}

@media (max-width: 768px) {
    .home {
        font-size: 2.5vw;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .feedback img {
        width: 30%;
    }

    .feedback div {
        padding: 0 5px;
        font-size: 2.3vw;
    }

    .down {
        font-size: 1.9vw;
    }
}

@media (max-width: 660px) {
    .home {
        font-size: 3vw;
    }

    .line {
        font-size: 2vw;
        padding: 10px 0;
    }

    .picture {
        width: 90%;
    }

    .grid {
        margin: 10px 0;
        width: 95%;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .feedback div {
        padding: 0 15px;
        font-size: 4vw;
    }

    .down {
        font-size: 3.5vw;
    }
}