@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222, 217, 217);
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.3vw;
    transition: .5s;
    z-index: 999;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

form {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    padding: 30px;
}

form h1 {
    font-family: Gropled;
    font-size: 2vw;
}

form button {
    font-family: Gropled;
    font-size: 1.5vw;
    padding: 8px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    background: darkgrey;
    transition: .3s;
}

form button:hover {
    background: linear-gradient(270deg, rgb(77, 75, 75), darkgrey);
    transition: .3s;
}

main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select h2 {
    font-family: Gropled;
    font-size: 1.5vw;
    margin-bottom: 10px;
}

.info {
    margin: 30px 0 0 0;
    display: flex;
    padding: 15px 10px;
}

.info p,
.info input,
select {
    font-size: 1.8vw;
    margin: 0 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-family: Klukva;
}

.info input[type="number"] {
    text-align: center;
}

.info label {
    position: absolute;
    transform: translate(2.5vw, -1.5vw);
    font-size: 1.5vw;
    font-style: italic;
}

.navigation {
    position: relative;
    display: flex;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6 {
    height: 2vw;
    width: 2vw;
    margin: 6px;
    cursor: pointer;
    background: rgb(9, 159, 167);
    border-radius: 2px;
    font-size: 2vw;
    transition: all .4s ease;
    text-align: center;
    font-family: Gropled;
    user-select: none;
}

.navigation label:hover {
    scale: 1.2;
    background: rgb(194, 35, 62);
}

input[name="b"],
input[name="x"],
input[name="z"] {
    position: absolute;
    visibility: hidden;
}

.worker {
    width: 86%;
    height: 38vh;
    overflow: hidden;
    border: 5px solid rgb(114, 69, 69);
}

.workers {
    width: 100%;
    display: flex;
    background: lightgreen;
    flex-direction: column;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 0;
    display: none;
}

.card img {
    width: 50%;
}

.card div {
    width: 49%;
    padding: 0 15px;
    font-family: Klukva;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.card div h3 {
    text-align: center;
    font-size: 1.5vw;
}

#b1:checked~.c1,
#b2:checked~.c2,
#b3:checked~.c3,
#b4:checked~.c4,
#b5:checked~.c5,
#v1:checked~.s1,
#v2:checked~.s2,
#v3:checked~.s3,
#v4:checked~.s4,
#v5:checked~.s5,
#v6:checked~.s6,
#z1:checked~.q1,
#z2:checked~.q2,
#z3:checked~.q3,
#z4:checked~.q4,
#z5:checked~.q5,
#z6:checked~.q6 {
    margin-top: 0;
    height: 38vh;
    display: flex;
}

main label {
    user-select: none;
}

#choose1:checked~.choice,
#choose2:checked~.choice,
#choose3:checked~.choice,
#choose4:checked~.choice,
#choose5:checked~.choice,
#choose11:checked~.choice1,
#choose21:checked~.choice1,
#choose31:checked~.choice1,
#choose41:checked~.choice1,
#choose51:checked~.choice1,
#choose61:checked~.choice1,
#choose111:checked~.choice2,
#choose211:checked~.choice2,
#choose311:checked~.choice2,
#choose411:checked~.choice2,
#choose511:checked~.choice2,
#choose611:checked~.choice2 {
    font-size: 0.1px;
}

#choose1:checked~.choice::before,
#choose2:checked~.choice::before,
#choose3:checked~.choice::before,
#choose4:checked~.choice::before,
#choose5:checked~.choice::before {
    content: 'ВЫБРАНО';
    position: relative;
    font-size: 1.5vw;
    color: yellow;
}

.choice {
    cursor: pointer;
    background: green;
    padding: 6px;
    color: yellow;
    border: 1px solid black;
    border-radius: 5px;
}

.choice:hover,
.choice1:hover,
.choice2:hover {
    scale: 1.1;
}

.event {
    width: 100%;
    transition: all .8s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    display: none;
}

.event img {
    width: 100%;
}

.event div {
    font-family: Klukva;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.event div h3 {
    padding: 8px;
}

#choose11:checked~.choice1::before,
#choose21:checked~.choice1::before,
#choose31:checked~.choice1::before,
#choose41:checked~.choice1::before,
#choose51:checked~.choice1::before,
#choose61:checked~.choice1::before,
#choose111:checked~.choice2::before,
#choose211:checked~.choice2::before,
#choose311:checked~.choice2::before,
#choose411:checked~.choice2::before,
#choose511:checked~.choice2::before,
#choose611:checked~.choice2::before {
    content: '(ВЫБРАНО)';
    font-size: 1.3vw;
    position: relative;
    color: red;
}

.choice1,
.choice2 {
    cursor: pointer;
    padding: 8px;
    color: red;
    font-weight: 800;
}

@media (max-width: 1200px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 2vw;
    }

    form {
        margin-top: 9vh;
        width: 95%;
        padding: 10px;
    }

    form h1 {
        font-size: 3vw;
    }

    form button {
        font-size: 2vw;
        margin-top: 20px;
    }

    main {
        margin-top: 10px;
    }

    .select h2 {
        font-size: 2vw;
    }

    .info p,
    .info input,
    select {
        font-size: 2.2vw;
    }

    .info label {
        transform: translate(3vw, -1.5vw);
        font-size: 1.7vw;
    }

    .bar1,
    .bar2,
    .bar3,
    .bar4,
    .bar5,
    .bar6 {
        height: 3vw;
        width: 3vw;
        font-size: 3vw;
    }

    .worker {
        height: 22vh;
    }

    .card div {
        font-size: 2vw;
        gap: 1vw;
    }

    .card div h3 {
        font-size: 2vw;
    }

    #b1:checked~.c1,
    #b2:checked~.c2,
    #b3:checked~.c3,
    #b4:checked~.c4,
    #b5:checked~.c5,
    #v1:checked~.s1,
    #v2:checked~.s2,
    #v3:checked~.s3,
    #v4:checked~.s4,
    #v5:checked~.s5,
    #v6:checked~.s6,
    #z1:checked~.q1,
    #z2:checked~.q2,
    #z3:checked~.q3,
    #z4:checked~.q4,
    #z5:checked~.q5,
    #z6:checked~.q6 {
        height: 22vh;
    }

    .event div {
        font-size: 1.6vw;
    }
}

@media (max-width: 768px) {
    .home {
        font-size: 3vw;
    }

    form h1 {
        font-size: 4vw;
    }

    form button {
        font-size: 3vw;
        margin-top: 20px;
    }

    main {
        margin-top: 10px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .select h2 {
        font-size: 3vw;
        margin-bottom: 10px;
    }

    .info {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .info p,
    .info input,
    select {
        font-size: 3.5vw;
        margin: 15px 0px;
    }

    .info label {
        transform: translate(2vw, -1vw);
        font-size: 2.5vw;
    }

    .bar1,
    .bar2,
    .bar3,
    .bar4,
    .bar5,
    .bar6 {
        height: 4vw;
        width: 4vw;
        margin: 8px;
        font-size: 3vw;
    }

    .worker {
        width: 90%;
        height: 26vh;
    }

    .card div {
        font-size: 2.5vw;
        gap: 1vw;
    }

    .card div h3 {
        font-size: 3vw;
    }

    #b1:checked~.c1,
    #b2:checked~.c2,
    #b3:checked~.c3,
    #b4:checked~.c4,
    #b5:checked~.c5,
    #v1:checked~.s1,
    #z1:checked~.q1,
    #v2:checked~.s2,
    #z2:checked~.q2,
    #v3:checked~.s3,
    #z3:checked~.q3,
    #v4:checked~.s4,
    #z4:checked~.q4,
    #v5:checked~.s5,
    #z5:checked~.q5,
    #v6:checked~.s6,
    #z6:checked~.q6 {
        height: 27vh;
    }

    #choose1:checked~.choice::before,
    #choose2:checked~.choice::before,
    #choose3:checked~.choice::before,
    #choose4:checked~.choice::before,
    #choose5:checked~.choice::before,
    #choose11:checked~.choice1::before,
    #choose21:checked~.choice1::before,
    #choose31:checked~.choice1::before,
    #choose41:checked~.choice1::before,
    #choose51:checked~.choice1::before,
    #choose61:checked~.choice1::before,
    #choose111:checked~.choice2::before,
    #choose211:checked~.choice2::before,
    #choose311:checked~.choice2::before,
    #choose411:checked~.choice2::before,
    #choose511:checked~.choice2::before,
    #choose611:checked~.choice2::before {
        font-size: 4vw;
    }

    .event div {
        font-size: 2.4vw;
    }
}

@media (max-width: 480px) {
    .home {
        font-size: 4vw;
    }

    form h1 {
        font-size: 5vw;
    }

    form button {
        font-size: 4vw;
    }

    main {
        margin-top: 10px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .select h2 {
        font-size: 5vw;
    }

    .info p,
    .info input,
    select {
        font-size: 4vw;
        margin: 15px 0px;
    }

    .info label {
        transform: translate(2vw, 0vw);
        font-size: 3vw;
    }

    .bar1,
    .bar2,
    .bar3,
    .bar4,
    .bar5,
    .bar6 {
        height: 6vw;
        width: 7vw;
        margin: 8px;
        font-size: 6vw;
    }

    .worker {
        width: 90%;
        height: 32vh;
    }

    .card div {
        font-size: 4vw;
        gap: 6vw;
    }

    .card div h3 {
        font-size: 5vw;
    }

    #b1:checked~.c1,
    #b2:checked~.c2,
    #b3:checked~.c3,
    #b4:checked~.c4,
    #b5:checked~.c5,
    #v1:checked~.s1,
    #z1:checked~.q1,
    #v2:checked~.s2,
    #z2:checked~.q2,
    #v3:checked~.s3,
    #z3:checked~.q3,
    #v4:checked~.s4,
    #z4:checked~.q4,
    #v5:checked~.s5,
    #z5:checked~.q5,
    #v6:checked~.s6,
    #z6:checked~.q6 {
        height: 32vh;
    }

    #choose1:checked~.choice::before,
    #choose2:checked~.choice::before,
    #choose3:checked~.choice::before,
    #choose4:checked~.choice::before,
    #choose5:checked~.choice::before,
    #choose11:checked~.choice1::before,
    #choose21:checked~.choice1::before,
    #choose31:checked~.choice1::before,
    #choose41:checked~.choice1::before,
    #choose51:checked~.choice1::before,
    #choose61:checked~.choice1::before,
    #choose111:checked~.choice2::before,
    #choose211:checked~.choice2::before,
    #choose311:checked~.choice2::before,
    #choose411:checked~.choice2::before,
    #choose511:checked~.choice2::before,
    #choose611:checked~.choice2::before {
        font-size: 4vw;
    }

    .event div {
        font-size: 4vw;
    }
}