@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #07482a, #0ddb7b);
    font-family: Gropled;
}

header div {
    display: flex;
    gap: 10vw;
}

header ul {
    display: flex;
}

header ul li,
header li a {
    font-size: 1vw;
    padding: 5px;
    color: darkblue;
    transition: all .6s;
}

header li a:hover {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.2vw;
    transition: all .6s;
}

li select {
    outline: none;
    color: darkblue;
    font-size: 1vw;
    font-family: Gropled;
    cursor: pointer;
}

.phone {
    transition: all .6s;
}

.phone:hover {
    color: transparent;
    margin-right: 3.5vw;
    transition: all .6s;
    scale: 1;
}

.phone:hover::before {
    content: '+7 (908) 164 09-44';
    position: absolute;
    color: darkblue;
    text-decoration: underline;
}

.search {
    font-size: 1.1vw;
    padding: 3px;
    font-family: Klukva;
}

.coming {
    margin: 50px 0;
    font-size: 2vw;
    text-align: center;
}

.activities {
    margin: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    overflow: hidden;
    border: 5px solid grey;
}

.navigation {
    display: flex;
    margin-top: 20px;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background: rgb(7, 152, 201);
    border-radius: 2px;
    transition: all .4s ease;
}

.bar:hover {
    scale: 1.2;
    background: rgb(91, 91, 230);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    display: flex;
    background: lightblue;
}

.slide {
    width: 25%;
    transition: all .6s ease;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 50%;
}

.slide div {
    width: 49%;
    padding: 0 15px;
    font-family: Klukva;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slide div h3 {
    text-transform: uppercase;
}

.slide button {
    width: 35%;
    padding: 5px;
    font-size: 1.6vw;
    border-radius: 10px;
    background: red;
    border: 2px solid brown;
    transition: all .4s ease;
}

.slide button:hover {
    box-shadow: 0 0 10px 5px red;
    transition: all .4s ease;
}

.slide button a {
    color: yellow;
}

.slide button a:hover {
    text-decoration: underline;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

.counter {
    margin-top: 50px;
    font-family: Gropled;
    font-size: 2vw;
    text-align: center;
}

.header_workers {
    margin: 100px 0 40px 0;
    font-family: Gropled;
    font-size: 2vw;
    text-align: center;
}

.bar1,
.bar2,
.bar3 {
    height: 35px;
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
    background: rgb(7, 170, 135);
    border-radius: 2px;
    font-size: 2vw;
    transition: all .4s ease;
    text-align: center;
    font-family: Gropled;
}

.navigation.n1 label:hover {
    scale: 1.2;
    background: rgb(133, 37, 53);
}

input[name="b"] {
    position: absolute;
    visibility: hidden;
}

.worker {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    border: 5px solid darkgrey;
}

.workers {
    display: flex;
    background: lightgreen;
    flex-direction: column;
}

.card {
    transition: all .8s ease;
    display: flex;
    justify-content: center;
}

.card img {
    width: 50%;
}

.card div {
    width: 50%;
    padding: 0 15px;
    font-family: Klukva;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card div h3 {
    text-align: center;
    font-size: 2vw;
}

#b1:checked~.c1 {
    margin-top: 0;
}

#b2:checked~.c1 {
    margin-top: -70%;
}

#b3:checked~.c1 {
    margin-top: -140.4%;
}

.service_text {
    margin-top: 80px;
    font-family: Gropled;
    font-size: 2vw;
    text-align: center;
}

.services {
    width: 80%;
    margin: 2% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.services img {
    outline: 2px solid black;
    width: 100%;
}

.services div {
    transition: all .5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.services div:hover {
    scale: 1.07;
    transition: all .5s ease;
}

.services p {
    font-family: Klukva;
    font-size: 1.9vw;
    color: black;
    background: rgb(224, 224, 144);
    width: 98.5%;
    padding: 5px;
}

.event_text {
    margin-top: 80px;
    font-family: Gropled;
    font-size: 2vw;
    text-align: center;
}

.events {
    width: 80%;
    margin: 2.5% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.events div {
    overflow: hidden;
    border: 3px solid black;
}

.events img:hover {
    scale: 1.2;
    transition: .5s;
}

.events img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.location_text,
.feedback_text {
    margin-top: 100px;
    font-family: Gropled;
    font-size: 2vw;
    text-align: center;
}

.locations {
    width: 80%;
    margin: 2.5% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.locations img {
    width: 100%;
}

.locations div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    outline: 2px solid black;
}

.locations a {
    font-family: Klukva;
    padding: 5px;
    font-size: 2vw;
    background: black;
    width: 98.5%;
    text-align: center;
    transition: .3s;
    color: yellow;
}

.locations a:hover {
    text-decoration: underline;
    font-size: 2.2vw;
    transition: .3s;
}

.stages {
    width: 80%;
    margin: 5% 10%;
}

.stages h1 {
    text-align: center;
    font-family: Gropled;
}

.stages p {
    font-family: Klukva;
    font-size: 2vw;
}

.feedback {
    width: 50%;
    margin: 0 25%;
}

.feedback div {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 25%;
    width: 45%;
}

.feedback input,
textarea {
    outline: none;
    font-size: 1.6vw;
    font-family: Klukva;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid;
    background: rgb(211, 211, 137);
    resize: none;
}

.feedback label {
    font-size: 1.7vw;
    margin-left: 8px;
    font-family: Klukva;
}

.feedback .desc {
    margin-left: 0;
    width: 100%;
}

.feedback .millions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.feedback .millions button,
.send {
    padding: 7px;
    font-family: Klukva;
    font-size: 1.4vw;
    background: grey;
    border: 1px solid black;
    box-shadow: inset 0 0 10px 3px black;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.feedback button:active {
    scale: .9;
    transition: .2s;
}

.feedback .send {
    margin: 20px 40%;
    font-size: 2vw;
    background: red;
    color: yellow;
}

footer {
    padding: 40px 0 0 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, #0ddb7b, #07482a);
    font-family: Gropled;
}

footer .main {
    display: flex;
    justify-content: space-around;
}

footer .contact {
    display: flex;
    justify-content: center;
}

footer .main ul {
    display: flex;
}

footer .contact ul {
    display: flex;
}

footer .main ul li,
.main li a,
footer .contact ul li,
.contact li a {
    font-size: 1.5vw;
    padding: 5px;
    color: darkblue;
    transition: .6s;
}

footer .main h1 {
    font-size: 2.5vw;
}

footer .contact h1 {
    font-size: 1.8vw;
}

footer .main li a:hover {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.8vw;
    transition: .6s;
}

footer .contact li a:hover {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.7vw;
    transition: .6s;
}

footer li select {
    outline: none;
    color: darkblue;
    font-size: 1.3vw;
    font-family: Gropled;
    cursor: pointer;
}

footer .contact {
    margin: 80px 0 50px 0;
}

footer img {
    transform: translateY(-12px);
}

footer img:hover {
    transform: translateY(-7px);
    scale: 1.3;
}

@media (max-width: 1200px) {}

@media (max-width: 768px) {
    .services {
        width: 80%;
        margin: 2% 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .events {
        width: 80%;
        margin: 2.5% 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .locations {
        width: 80%;
        margin: 2.5% 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        height: 200px;
    }

    header ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20vw;
    }

    header ul li,
    header li a {
        font-size: 4vw;
        transition: all .6s;
    }

    header li a:hover {
        font-size: 4.2vw;
        transition: all .6s;
    }

    li select {
        font-size: 4vw;
    }

    .search {
        font-size: 5vw;
        padding: 1px;
        outline: none;
    }

    .coming {
        margin: 20px 0;
        font-size: 5vw;
    }

    .activities {
        margin: 0 2vw;
    }

    .slide {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .slide img {
        width: 100%;
    }

    .slider {
        border: 3px solid grey;
    }

    .slide div {
        width: 95%;
        padding: 0 15px;
        font-size: 4vw;
    }

    .slide button {
        margin: 8px 0;
        width: 53%;
        font-size: 3vw;
        cursor: pointer;
    }

    .navigation {
        margin-top: 5px;
    }

    .counter {
        margin-top: 30px;
        font-size: 5vw;
    }

    .header_workers {
        margin-top: 40px;
        font-size: 6vw;
    }

    .worker {
        width: 90%;
        height: 29vh;
        border: 3px solid darkgrey;
    }

    .card div {
        width: 50%;
        padding: 0 10px;
        font-size: 5vw;
    }

    .card div h3 {
        font-size: 5.5vw;
    }

    .bar1,
    .bar2,
    .bar3 {
        height: 35px;
        width: 30px;
        margin: 5px 8px;
        font-size: 6vw;
    }

    .navigation.n1 label:hover {
        scale: 1.2;
        background: rgb(133, 37, 53);
    }

    .service_text {
        margin-top: 30px;
        font-size: 4.5vw;
    }

    .services {
        width: 80%;
        margin: 2% 10%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    .services p {
        font-size: 5vw;
        width: 98.5%;
        padding: 5px;
    }

    .event_text {
        margin-top: 40px;
        font-size: 4vw;
    }

    .events {
        width: 80%;
        margin: 2.5% 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .location_text {
        margin-top: 40px;
        font-size: 4vw;
    }

    .locations {
        width: 80%;
        margin: 2.5% 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .locations a {
        font-size: 4vw;
    }

    .locations a:hover {
        font-size: 4.8vw;
    }

    .stages {
        width: 90%;
        margin: 5%;
    }

    .stages p {
        font-size: 5vw;
    }

    .feedback_text {
        margin-top: 30px;
        font-size: 7vw;
    }

    .feedback {
        width: 95%;
        margin: 0 2.5%;
    }

    .feedback div {
        margin: 10px 20%;
        width: 60%;
    }

    .feedback input,
    .feedback textarea,
    .feedback label {
        font-size: 5vw;
    }

    .feedback .millions {

        margin-left: 10vw;
        gap: 10px;
        width: 100%;
    }

    .feedback .millions button,
    .send {
        font-size: 4vw;
    }

    .feedback .send {
        margin: 20px 40%;
        font-size: 6vw;
    }

    footer {
        padding: 20px 0 40px 0;
        width: 100%;
    }

    footer .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    footer .main ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .main li a:hover {
        font-size: 4vw;
    }

    footer .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer .contact .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    footer .main ul li,
    .main li a,
    footer .contact ul li,
    .contact li a {
        font-size: 3.5vw;
        padding: 5px;
    }

    footer .main h1 {
        font-size: 5vw;
    }

    footer .contact h1 {
        font-size: 5vw;
    }

    footer .contact .images ul li a:hover {
        font-size: 4vw;
        transition: .6s;
    }

    footer li select {
        font-size: 3vw;
    }

    footer .contact {
        margin: 8% 0;
    }

    footer img {
        scale: .8;
        transform: translateY(-12px);
    }

    footer img:hover {
        transform: translateY(-7px);
        scale: 1;
    }
}