@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(222, 217, 217);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home {
    left: 10px;
    top: 10px;
    padding: 10px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.3vw;
    transition: .5s;
    z-index: 999;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

.line {
    width: 100%;
    margin: 15px 0;
    background: brown;
    text-align: center;
    border-radius: 30%;
}

.line.short {
    width: 70%;
    border-radius: 20%;
}

span {
    font-family: Gropled;
    font-size: 2vw;
    background: white;
    color: brown;
    padding: 3px 10px;
    border: 2px solid brown;
    border-radius: 15%;
    height: 10vw;
}

.map {
    margin: 20px 0;
    width: 95%;
    border: 2px solid black;
}

.map img {
    width: 100%;
}

.desc {
    width: 90%;
    margin: 20px 0;
    font-family: Klukva;
    font-size: 1.5vw;
}

.galleries {
    width: 85%;
    margin: 2.5% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.galleries div {
    overflow: hidden;
    border: 3px solid black;
}

.gallery img:hover {
    scale: 1.2;
    transition: .5s;
}

.gallery img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

@media (max-width: 1200px) {
    .home {
        font-size: 2.5vw;
    }

    .line {
        margin: 10px 0;
    }

    span {
        font-size: 2.5vw;
    }

    .desc {
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    .home {
        font-size: 3vw;
    }

    .line {
        margin: 5px 0;
    }

    span {
        font-size: 3vw;
    }

    .desc {
        font-size: 3vw;
    }

    .galleries {
        width: 95%;
        margin: 2.5%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .home {
        font-size: 4vw;
    }

    span {
        font-size: 4vw;
        padding: 2.5px 10px;
    }

    .map {
        margin: 10px 0;
    }

    .desc {
        margin: 10px 0;
        font-size: 4.3vw;
    }

    .galleries {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}