@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/login_back.jpg');
    background-size: cover;
}

.home {
    left: 10px;
    top: 10px;
    padding: 10px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.3vw;
    transition: .5s;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

h1 {
    text-align: center;
    font-family: Gropled;
    font-size: 3.5vw;
    margin-bottom: 10px;
}

form {
    border: 3px solid red;
    border-radius: 10px;
    padding: 30px;
    font-family: Klukva;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background: rgb(42, 107, 142);
    color: brown;
}

input {
    font-size: 1.3vw;
    margin-top: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 3px;
    background: transparent;
    font-weight: bold;
}

label {
    font-size: 1.5vw;
    transform: translateY(-1.8vw);
    pointer-events: none;
    transition: .4s;
}

input:is(:focus, :valid)~label {
    transition: .4s;
}

input#t1:is(:focus, :valid)~label.name1,
input#t8:is(:focus, :valid)~label.name8 {
    transform: translateY(-3.5vw);
}

button {
    width: 70%;
    margin-left: 15%;
    background: grey;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    font-family: Klukva;
    font-weight: bold;
    color: darkblue;
    box-shadow: inset 10px 20px 20px darkslategrey;
}

button:active {
    scale: .9;
}

@media (max-width: 1200px) {
    .home {
        font-size: 1.5vw;
    }

    h1 {
        font-size: 5vw;
    }

    form {
        padding: 30px;
    }

    input {
        font-size: 2vw;
    }

    label {
        font-size: 2.2vw;
        transform: translateY(-2.3vw);
    }

    input#t1:is(:focus, :valid)~label.name1,
    input#t2:is(:focus, :valid)~label.name2 {
        transform: translateY(-4.8vw);
    }

    button {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .home {
        font-size: 2vw;
    }

    h1 {
        font-size: 7vw;
        margin-bottom: 5px;
    }

    form {
        padding: 40px 20px 15px 20px;
    }

    input {
        font-size: 2.5vw;
    }

    label {
        font-size: 2.7vw;
        transform: translateY(-3.2vw);
    }

    input#t1:is(:focus, :valid)~label.name1,
    input#t2:is(:focus, :valid)~label.name2 {
        transform: translateY(-6vw);
    }

    button {
        font-size: 3.5vw;
    }
}

@media (max-width: 480px) {
    .home {
        font-size: 4vw;
    }

    h1 {
        font-size: 12vw;
    }

    form {
        padding: 50px 30px 20px 30px;
    }

    input {
        font-size: 4vw;
    }

    label {
        font-size: 4.5vw;
        transform: translateY(-5.2vw);
    }

    input#t1:is(:focus, :valid)~label.name1,
    input#t2:is(:focus, :valid)~label.name2 {
        transform: translateY(-10.2vw);
    }

    button {
        font-size: 6vw;
    }
}