@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(222, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.5vw;
    transition: .5s;
    z-index: 999;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

.line {
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: Gropled;
    font-size: 1.6vw;
    color: beige;
    padding: 15px 0;
}

main {
    display: flex;
    margin: 30px 0;
    width: 100%;
}

img {
    width: 30%;
    border: 2px solid black;
    height: 18vw;
}

.content {
    background: white;
    font-family: Klukva;
    border: 2px solid black;
    width: 65%;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h3 {
    text-align: center;
    font-family: Gropled;
    margin: 5px 0 20px 0;
    font-size: 1.7vw;
}

.info {
    display: flex;
    padding: 15px 10px;
}

.buttons {
    display: flex;
    padding: 10px 10px;
}

.info p {
    font-size: 1.4vw;
    margin: 0 20px;
    border-bottom: 2px solid black;
}

.content .info label {
    position: absolute;
    transform: translate(1.5vw, -1.1vw);
    font-size: 1.3vw;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
}

.buttons input {
    margin-right: 6px;
    cursor: pointer;
    scale: 1.1;
}

.buttons button {
    cursor: pointer;
    padding: 6px;
    font-size: 1.4vw;
    font-family: Klukva;
    background: grey;
    color: yellow;
    margin-top: 10px;
    width: 80%;
}

@media (max-width: 480px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 4vw;
    }
    
    .name {
        font-size: 4vw;
    }
    
    main {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 95%;
        height: 50vw;
    }
    
    .content {
        width: 95%;
        height: 75vw;
    }

    .content h3 {
        margin: 5px 0 20px 0;
        font-size: 4vw;
    }
    
    .info.n1, .info.n2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
    }

    .info p {
        font-size: 4vw;
    }
    
    .content .info label {
        transform: translate(5vw, -3.5vw);
        font-size: 4vw;
    }
    
    .buttons {
        font-size: 4vw;
    }
    
    .buttons button {
        font-size: 4vw;
    }
}