@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: .5s;
}

body {
    background-color: rgb(222, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    width: 100%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: Gropled;
    font-size: 2vw;
    padding: 25px 0 15px 0;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    background-color: #fff;
    width: 80%;
    padding: 50px;
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.5vw;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
}

.photo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img {
    width: 50%;
}

.photo button {
    padding: 12px;
    font-family: Gropled;
    font-size: 1.3vw;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background: purple;
    color: greenyellow;
}

.photo button:hover {
    box-shadow: 0 0 10px 10px purple;
    border-color: blueviolet;
    color: yellow;
}

.photo button:active {
    scale: .9;
}

.data {
    width: 58%;
    margin-top: 150px;
}

.data input {
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid rgb(108, 105, 105);
    padding: 5px;
    color: black;
    width: 25%;
    margin-right: 4%;
    font-family: Gropled;
    pointer-events: none;
}

.data label {
    position: absolute;
    transform: translate(1vw, -1.5vw);
    font-size: 1.5vw;
    color: rgb(108, 105, 105);
    font-family: Gropled;
}

.data p {
    margin: 40px 0 30px 0;
    font-family: Klukva;
    font-size: 2vw;
}

.buttons {
    margin-left: 7vw;
}

.buttons button {
    padding: 12px;
    font-family: Gropled;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    background: purple;
    color: greenyellow;
    transition: .2s;
}

.buttons button:hover {
    box-shadow: 0 0 10px 10px purple;
    transition: .2s;
    border-color: blueviolet;
}

.buttons button a {
    color: yellow;
}

.buttons button:active {
    scale: .9;
}

#edit {
    margin-right: 50px;
}

.stocks {
    width: 80%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
}

.stocks img {
    outline: 2px solid black;
    width: 100%;
}

.stocks h3 {
    font-family: Gropled;
    padding: 10px 0;
    font-size: 2vw;
    text-align: center;
}

.stocks p {
    font-family: Klukva;
    padding: 5px 10px;
    font-size: 1.5vw;
}

.container {
    outline: 2px solid black;
    background: white;
    display: flex;
    flex-direction: column;
}

.container button {
    margin: 20px 0 20px 30%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3vw;
    border-radius: 15px;
    border: 1px solid black;
    background: brown;
    box-shadow: inset 3px 3px 15px 5px blue;
    width: 40%;
    transition: .2s;
}

.container button a {
    color: yellow;
}

.container button:hover {
    scale: 1.1;
    transition: .2s;
}

.text {
    display: flex;
}

.left {
    width: 60%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

@media (max-width: 480px) {
    .name {
        font-size: 4vw;
    }
    
    main {
        padding: 20px 5px;
        width: 95%;
        gap: 2vw;
    }
    
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 4vw;
    }
    
    .photo {
        width: 40%;
    }
    
    .photo img {
        width: 50%;
    }
    
    .photo button {
        font-size: 2vw;
        margin-top: 10px;
    }
    
    .data {
        margin-top: 40px;
    }
    
    .data input {
        font-size: 2.5vw;
        width: 25%;
        margin-right: 0%;
    }
    
    .data label {
        transform: translate(1.5vw, -1.5vw);
        font-size: 2.3vw;
    }
    
    .data p {
        margin: 15px 0;
        font-size: 3vw;
    }
    
    .buttons {
        margin-left: 3vw;
    }
    
    .buttons button {
        font-size: 2vw;
    }
    
    #edit {
        margin-right: 20px;
    }
    
    .stocks {
        width: 95%;
        grid-template-columns: 1fr;
    }
    
    .stocks h3 {
        font-size: 4vw;
        height: 12vw;
    }
    
    .stocks p {
        font-size: 4vw;
    }
    
    .container button {
        font-size: 3vw;
        width: 40%;
    }
    
    .left {
        width: 65%;
    }
    
    .grid {
        grid-gap: 10px;
    }
}