@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/reviews_back.jpg');
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.5vw;
    transition: .5s;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

select, textarea, button {
    font-size: 1.8vw;
    resize: none;
    outline: none;
    border: none;
    background: transparent;
    font-family: Gropled;
}

select {
    text-align: center;
    cursor: pointer;
}

textarea {
    font-family: Klukva;
    padding: 5px;
    margin: 10% 0;
    width: 100%;
}

button {
    cursor: pointer;
    transition: .2s;
}

button:active {
    scale: .9;
    transition: .2s;
}

@media (max-width: 1200px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 2vw;
    }
    
    div {
        width: 70%;
    }
    
    select, button, textarea {
        font-size: 3vw;
    }
    
    textarea {
        height: 40vh;
        margin: 20% 0;
    }
}

@media (max-width: 768px) {
    .home {
        font-size: 3vw;
    }
    
    div {
        width: 80%;
    }
    
    select, button, textarea {
        font-size: 3.5vw;
    }
    
    textarea {
        height: 40vh;
        margin: 20% 0;
    }
}

@media (max-width: 480px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 4vw;
    }
    
    div {
        width: 80%;
    }
    
    select, button {
        font-size: 5vw;
    }
    
    textarea {
        font-size: 4vw;
        height: 50vh;
        margin: 20% 0;
    }
}