@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url('img/services_back.jpg');
    background-size: contain;
}

.home {
    margin: 10px;
    padding: 10px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.3vw;
    transition: .5s;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

img {
    width: 35%;
    margin: 10px 0;
    border: 2px solid black;
}

.image {
    text-align: center;
}

p:not(.image) {
    font-family: Klukva;
    font-size: 1.8vw;
    margin: 0 15%;
}

h1 {
    text-align: center;
    font-family: Gropled;
    font-size: 2.5vw;
}

div {
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .home {
        font-size: 2vw;
    }

    img {
        width: 50%;
        margin: 10px 0;
    }

    h1 {
        font-size: 3vw;
    }

    p:not(.image) {
        font-size: 2.3vw;
        margin: 0 10%;
    }

    div {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .home {
        font-size: 2.5vw;
    }

    h1 {
        font-size: 3.5vw;
    }

    p:not(.image) {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .home {
        font-size: 3.5vw;
    }

    img {
        width: 85%;
    }

    h1 {
        font-size: 4vw;
    }

    p:not(.image) {
        font-size: 4vw;
    }
}