@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.5vw;
    transition: .5s;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

.stocks {
    width: 90%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.stocks img {
    outline: 2px solid black;
    width: 100%;
}

.stocks h3 {
    font-family: Gropled;
    padding: 10px 0;
    font-size: 3vw;
    text-align: center;
}

.stocks p {
    font-family: Klukva;
    padding: 5px;
    font-size: 2.5vw;
}

.container {
    outline: 2px solid black;
    background: rgb(224, 224, 144);
}

.under {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.under .new {
    font-size: 3vw;
    font-weight: 600;
}

.under .new::after {
    content: '₽';
    font-size: 2.5vw;
}

.under .old::after {
    content: '₽';
    font-size: 2vw;
}

.under .old {
    font-size: 2.5vw;
    transform: translate(-6px, 3px);
    text-decoration: line-through;
    color: grey;
}

.under button {
    margin-left: 10%;
    padding: 8px;
    cursor: pointer;
    font-size: 2vw;
    border-radius: 15px;
    border: 1px solid black;
    background: green;
    box-shadow: inset 3px 3px 15px 5px yellow;
}

.under button:hover {
    scale: 1.1;
}

@media (max-width: 480px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 4vw;
    }
    
    .stocks {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .stocks h3 {
        font-size: 5vw;
    }
    
    .stocks p {
        font-size: 6vw;
    }
    
    .under {
        margin-bottom: 10px;
    }
    
    .under .new {
        font-size: 5vw;
    }
    
    .under .new::after {
        font-size: 4vw;
    }
    
    .under .old::after {
        font-size: 3.5vw;
    }
    
    .under .old {
        font-size: 4.5vw;
        transform: translate(-6px, 1px);
    }
    
    .under button {
        margin-left: 1%;
        font-size: 3vw;
    }
}