@font-face {
    font-family: Gropled;
    src: url('fonts/Gropled-Bold.otf');
}

@font-face {
    font-family: Klukva;
    src: url('fonts/Klukva_version_01.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('img/worker_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    left: 15px;
    top: 15px;
    padding: 15px;
    background: orange;
    position: fixed;
    color: black;
    border-radius: 15px;
    font-size: 1.5vw;
    transition: .5s;
    z-index: 999;
}

.home:hover {
    text-decoration: underline;
    box-shadow: 0 0 20px 8px orange;
    transition: .5s;
}

.line {
    width: 100%;
    margin: 15px 0;
    background: black;
    text-align: center;
    border-radius: 10%;
}

span {
    font-family: Gropled;
    font-size: 2.5vw;
    background: white;
    color: black;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 15%;
    z-index: 999;
}

.category {
    font-family: Gropled;
    font-size: 2vw;
}

.category::before {
    content: '• ';
    position: absolute;
    font-size: 5vw;
    transform: translate(-2.2vw, -1.6vw);
}

.category::after {
    content: ' •';
    position: absolute;
    font-size: 5vw;
    transform: translate(1vw, -1.6vw);
}

.worker {
    margin: 20px 0;
    width: 50%;
    display: flex;
    border: 2px brown solid;
    background: darkgrey;
}

.worker img {
    width: 30%;
}

.worker div {
    padding: 0 15px;
    font-family: Klukva;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.worker h3 {
    text-transform: uppercase;
    text-align: center;
}

.worker button {
    padding: 6px;
    font-size: 1.3vw;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    background: orange;
}

.worker button a {
    color: red;
}

.worker button:hover {
    scale: 1.1;
}

@media (max-width: 480px) {
    .home {
        left: 10px;
        top: 10px;
        padding: 10px;
        font-size: 4vw;
    }
    
    span {
        font-size: 5vw;
        height: 15vw;
        margin-bottom: 10px;
    }
    
    .category {
        font-size: 5vw;
    }
    
    .category::before {
        content: ' ';
    }
    
    .category::after {
        content: ' ';
    }
    
    .worker {
        margin:10px 0;
        width: 90%;
    }

    .worker div {
        font-size: 3.5vw;
    }
    
    .worker button {
        font-size: 3vw;
    }
}